In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id, col, row_number, lit, count, desc, regexp_replace, sum, avg, year, month, asc, lag, coalesce, when
from pyspark.sql.window import Window
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder \
    .appName("Spark SQL with PostgreSQL and ClickHouse") \
    .config("spark.jars", "postgresql-42.6.0.jar,clickhouse-jdbc-0.4.6.jar") \
    .getOrCreate()

In [3]:
jdbc_url = "jdbc:postgresql://postgres:5432/spark_db"
properties = {
    "user": "spark_user",
    "password": "spark_password",
    "driver": "org.postgresql.Driver"
}

In [4]:
data = spark.read.jdbc(url=jdbc_url, table="mock_data", properties=properties)

In [5]:
data.schema

StructType([StructField('id', IntegerType(), True), StructField('customer_first_name', StringType(), True), StructField('customer_last_name', StringType(), True), StructField('customer_age', IntegerType(), True), StructField('customer_email', StringType(), True), StructField('customer_country', StringType(), True), StructField('customer_postal_code', StringType(), True), StructField('customer_pet_type', StringType(), True), StructField('customer_pet_name', StringType(), True), StructField('customer_pet_breed', StringType(), True), StructField('seller_first_name', StringType(), True), StructField('seller_last_name', StringType(), True), StructField('seller_email', StringType(), True), StructField('seller_country', StringType(), True), StructField('seller_postal_code', StringType(), True), StructField('product_name', StringType(), True), StructField('product_category', StringType(), True), StructField('product_price', StringType(), True), StructField('product_quantity', IntegerType(), True), StructField('sale_date', DateType(), True), StructField('sale_customer_id', IntegerType(), True), StructField('sale_seller_id', IntegerType(), True), StructField('sale_product_id', IntegerType(), True), StructField('sale_quantity', IntegerType(), True), StructField('sale_total_price', StringType(), True), StructField('store_name', StringType(), True), StructField('store_location', StringType(), True), StructField('store_city', StringType(), True), StructField('store_state', StringType(), True), StructField('store_country', StringType(), True), StructField('store_phone', StringType(), True), StructField('store_email', StringType(), True), StructField('pet_category', StringType(), True), StructField('product_weight', FloatType(), True), StructField('product_color', StringType(), True), StructField('product_size', StringType(), True), StructField('product_brand', StringType(), True), StructField('product_material', StringType(), True), StructField('product_description', StringType(), True), StructField('product_rating', FloatType(), True), StructField('product_reviews', IntegerType(), True), StructField('product_release_date', DateType(), True), StructField('product_expiry_date', DateType(), True), StructField('supplier_name', StringType(), True), StructField('supplier_contact', StringType(), True), StructField('supplier_email', StringType(), True), StructField('supplier_phone', StringType(), True), StructField('supplier_address', StringType(), True), StructField('supplier_city', StringType(), True), StructField('supplier_country', StringType(), True)])

In [6]:
customer = data.select(
    'customer_pet_type',
    'customer_pet_name',
    'customer_pet_breed',
    'customer_country',
    'customer_postal_code',
    'customer_first_name',
    'customer_last_name',
    'customer_age',
    'customer_email'
).distinct()

window = Window.orderBy('customer_first_name')
customer = customer.withColumn("id", row_number().over(window))
customer.show()

+-----------------+-----------------+------------------+----------------+--------------------+-------------------+------------------+------------+--------------------+---+
|customer_pet_type|customer_pet_name|customer_pet_breed|customer_country|customer_postal_code|customer_first_name|customer_last_name|customer_age|      customer_email| id|
+-----------------+-----------------+------------------+----------------+--------------------+-------------------+------------------+------------+--------------------+---+
|             bird|          Mitchel|           Siamese|     Philippines|                1106|              Aaren|            Eagers|          44| wjesson3r@patch.com|  1|
|              cat|            Danit|           Siamese|            Iraq|                NULL|              Aaren|      Chipperfield|          42|jgiffordhf@wordpr...|  2|
|             bird|        Konstanze|          Parakeet|           China|                NULL|              Aaren|           Adriano|          55|fdillistoneem@sym...|  3|
|              dog|          Frankie|          Parakeet|    South Africa|                2661|              Aaron|           Biggins|          82|  fslinnjj@ifeng.com|  4|
|             bird|            Biddy|           Siamese|           China|                NULL|                 Ab|         Denniston|          43|   fmixon76@cnet.com|  5|
|              dog|            Angel|           Siamese|           Japan|            950-0862|            Abagael|           Kirvell|          39|mtuppenyds@comsen...|  6|
|              dog|           Pancho|Labrador Retriever|           Yemen|                NULL|               Abba|         Mixworthy|          65|fgreatorexlp@thet...|  7|
|              cat|            Eldon|           Siamese|  Czech Republic|              285 22|               Abbe|         Dallemore|          19|kmerrigani9@micro...|  8|
|             bird|             Lola|          Parakeet|           China|                NULL|               Abbe|             D'Ugo|          33| pnaptinfz@yahoo.com|  9|
|              dog|           Renell|          Parakeet|       Indonesia|                NULL|               Abbe|            Semens|          51|hrainsburykk@ustr...| 10|
|              cat|             Lind|           Siamese|          France|         62304 CEDEX|              Abbey|           Snalham|          59|asoppitkk@arstech...| 11|
|             bird|          Ardenia|          Parakeet|          Poland|              17-132|              Abbey|          Hellicar|          45|mcrimb7@marketwat...| 12|
|             bird|           Adrian|Labrador Retriever|        Zimbabwe|                NULL|              Abbey|            Hebdon|          37|   bmanser3a@nih.gov| 13|
|             bird|         Harmonie|           Siamese|  Czech Republic|              683 33|               Abbi|           Gossage|          65|cwadelindc@chrono...| 14|
|              cat|          Dorothy|          Parakeet|          Canada|                 M9R|               Abbi|              Ades|          49|dshropsheir3a@abc...| 15|
|              dog|          Geralda|Labrador Retriever|       Indonesia|                NULL|               Abbi|            Decaze|          82|   jfusterjg@soup.io| 16|
|             bird|           Darryl|Labrador Retriever|           China|                NULL|              Abbie|             Eddie|          34|esargisona6@stori...| 17|
|              cat|           Nowell|          Parakeet|     Afghanistan|                NULL|             Abbott|            Danser|          30|esmithiescu@yahoo...| 18|
|              cat|             Reid|          Parakeet|       Guatemala|               13010|               Abby|         Longridge|          37|bannande5@yellowb...| 19|
|              cat|         Freedman|          Parakeet|     Philippines|                5616|              Abbye|          Frearson|          40|bfreeburn4d@xing.com| 20|
+-----------------+-----------------+------------------+----------------+--------------------+-------------------+------------------+------------+--------------------+---+
only showing top 20 rows

In [7]:
seller = data.select(
    'seller_first_name',
    'seller_last_name',
    'seller_country',
    'seller_postal_code',
    'seller_email'
).distinct()

window = Window.orderBy('seller_first_name')
seller = seller.withColumn("id", row_number().over(window))
seller.show()

+-----------------+----------------+--------------------+------------------+--------------------+---+
|seller_first_name|seller_last_name|      seller_country|seller_postal_code|        seller_email| id|
+-----------------+----------------+--------------------+------------------+--------------------+---+
|           Aarika|        Brussell|           Indonesia|              NULL|abrussellad@time.com|  1|
|            Aaron|        Hemphrey|             Iceland|               225|ahemphreym0@goodr...|  2|
|            Aaron|         Sheerin|           Indonesia|              NULL|  asheerinqc@mit.edu|  3|
|               Ab|          Copsey|         Philippines|              4217|   acopseyns@mail.ru|  4|
|          Abagael|         Charley|       New Caledonia|             98828| acharleyh3@imdb.com|  5|
|          Abagael|       McCorkell|                Peru|              NULL|amccorkellq3@adob...|  6|
|          Abagael|        Michurin|               China|              NULL|amichurinc3@linke...|  7|
|          Abagail|         Hannaby|              Russia|            632147|ahannaby77@newyor...|  8|
|          Abagail|         Kinahan|           Indonesia|              NULL|akinahanaa@histat...|  9|
|             Abbe|       Cranstoun|         Philippines|              8609|acranstounam@abc....| 10|
|             Abbe|          Armell|               China|              NULL|aarmell6q@nbcnews...| 11|
|             Abbe|         Ashdown|           Indonesia|              NULL|aashdownjy@toplis...| 12|
|            Abbey|         Cranham|              Sweden|            668 92|acranhamjc@hugedo...| 13|
|            Abbey|          Antrim|Palestinian Terri...|              NULL| aantrimrf@ameblo.jp| 14|
|             Abbi|           Patey|              Israel|              NULL|    apatey2a@pbs.org| 15|
|            Abbie|         Brewett|             Austria|              8453|  abrewett7k@mit.edu| 16|
|            Abbie|       Gainsford|       United States|             23285|againsfordh6@ebay...| 17|
|            Abbot|         Rableau|         Philippines|              1117|arableauj2@reddit...| 18|
|           Abbott|            Wake|              Poland|            42-286|awake8w@whitehous...| 19|
|           Abbott|        Caulwell|                Peru|              NULL|acaulwell2w@simpl...| 20|
+-----------------+----------------+--------------------+------------------+--------------------+---+
only showing top 20 rows

In [8]:
store = data.select(
    'store_location',
    'store_city',
    'store_state',
    'store_country',
    'store_phone',
    'store_email',
    'store_name',
).distinct()

window = Window.orderBy('store_name')
store = store.withColumn("id", row_number().over(window))
store.show()

+--------------+--------------+-----------+--------------+------------+--------------------+----------+---+
|store_location|    store_city|store_state| store_country| store_phone|         store_email|store_name| id|
+--------------+--------------+-----------+--------------+------------+--------------------+----------+---+
|      Suite 60|        Kujung|       NULL|     Indonesia|159-258-9340|  lbeasley1v@mit.edu|     Abata|  1|
|     Room 1590|       Floirac|         97|         China|953-151-1747|rgowthorperg@apac...|     Abata|  2|
|   PO Box 7914|    Skellefteå|         AC|         China|591-818-2372|byourellme@youtub...|     Abata|  3|
|    14th Floor|      Norsborg|         AB|      Portugal|155-350-7386|shanshaw8h@sfgate...|     Abata|  4|
|       Apt 814|     Terpinnya|       NULL|     Indonesia|782-681-7074|apicfordkr@cbsnew...|     Abata|  5|
|     9th Floor|        Angers|         B5|Czech Republic|563-662-9741|gelementl6@soundc...|     Abata|  6|
|      Suite 88|       Houston|         TX|       Tunisia|713-307-1903|cnapolionef2@slid...|     Abata|  7|
|    18th Floor|        Cikupa|       NULL|      Portugal|940-737-0532|tpitkeathlykt@goo...|     Abata|  8|
|  PO Box 12980|Timiryazevskiy|       NULL|        Greece|707-559-3117|dmackellar7e@harv...|     Abata|  9|
|    14th Floor|  Batasan Bata|       NULL|         China|996-610-3702|pesbyg4@guardian....|     Abata| 10|
|    11th Floor|        Ibiúna|       NULL|    Montenegro|660-676-5491|   cchevisp5@npr.org|     Abata| 11|
|     Room 1757|        Sal’sk|       NULL|Czech Republic|817-580-4134|lbeaulieuiu@bosto...|     Abata| 12|
|     Room 1964|   Serra Negra|       NULL|      Portugal|633-471-6467|  lzimekc7@issuu.com|     Abata| 13|
|      Apt 1910|      Rancagua|       NULL|     Indonesia|740-270-7530|ystrothern0@yello...|     Abata| 14|
|  PO Box 18531|       Chŏngju|       NULL|     Indonesia|811-193-1688|dnorthridge2x@pur...|     Abata| 15|
|       Room 28|  Kolonia Town|       NULL|        Brazil|825-820-5234|klaffranconif4@na...|     Abata| 16|
|   PO Box 7439|Valvedditturai|       NULL|    Bangladesh|240-398-5953|gaguirredq@bibleg...|     Abata| 17|
|      Suite 97|      Huangmao|       NULL|      Thailand|253-994-4739|tcallinanae@comca...|     Abata| 18|
|      Suite 12|       Gryfino|       NULL|        Poland|910-369-5146|bhalburtoni@phoca.cz|     Abata| 19|
|       Apt 239|        Moreno|       NULL|        Canada|645-221-2408|   atebbetpq@mac.com|     Abata| 20|
+--------------+--------------+-----------+--------------+------------+--------------------+----------+---+
only showing top 20 rows

In [9]:
product = data.select(
    'product_weight',
    'product_color',
    'product_size',
    'product_material',
    'product_description',
    'product_rating',
    'product_reviews',
    'product_brand',
    'product_name',
    'product_category',
    'product_price',
    'product_quantity',
    'product_release_date',
    'product_expiry_date',
).distinct()

window = Window.orderBy('product_name')
product = product.withColumn("id", row_number().over(window))
product.show()

+--------------+-------------+------------+----------------+--------------------+--------------+---------------+-------------+------------+----------------+-------------+----------------+--------------------+-------------------+---+
|product_weight|product_color|product_size|product_material| product_description|product_rating|product_reviews|product_brand|product_name|product_category|product_price|product_quantity|product_release_date|product_expiry_date| id|
+--------------+-------------+------------+----------------+--------------------+--------------+---------------+-------------+------------+----------------+-------------+----------------+--------------------+-------------------+---+
|          49.6|         Pink|      Medium|          Rubber|Integer tincidunt...|           3.0|            740|     Innotype|   Bird Cage|             Toy|        91.56|              86|          2016-12-26|         2023-10-21|  1|
|          11.3|       Indigo|       Small|      Plexiglass|Aenean lectus. Pe...|           2.1|             45|      Edgeify|   Bird Cage|             Toy|        18.79|              32|          2021-03-26|         2023-10-30|  2|
|          15.4|          Red|      Medium|           Brass|Maecenas leo odio...|           2.5|            101|        Fadeo|   Bird Cage|             Toy|        70.37|              79|          2010-02-12|         2029-11-01|  3|
|          41.2|         Pink|      Medium|        Aluminum|Maecenas leo odio...|           3.7|            654|       Oyoloo|   Bird Cage|            Food|        17.88|              90|          2017-08-27|         2024-06-06|  4|
|          37.7|        Khaki|       Small|           Steel|Cras mi pede, mal...|           1.4|            634|        Jaloo|   Bird Cage|            Cage|        45.34|             100|          2021-12-08|         2025-09-19|  5|
|          37.0|   Aquamarine|       Small|        Aluminum|In quis justo. Ma...|           3.1|            940|  Shufflester|   Bird Cage|            Cage|        36.26|              88|          2017-06-21|         2023-01-31|  6|
|           1.2|         Mauv|       Small|           Brass|Maecenas leo odio...|           1.5|            223|        Miboo|   Bird Cage|            Food|        69.24|               9|          2022-04-08|         2025-06-19|  7|
|          35.8|    Goldenrod|       Large|           Brass|Fusce posuere fel...|           1.4|            191|      Youopia|   Bird Cage|            Food|        55.92|              53|          2010-08-17|         2025-02-19|  8|
|          45.0|         Teal|       Small|         Granite|Curabitur gravida...|           4.9|            886|        Gevee|   Bird Cage|            Food|        36.39|              24|          2015-12-09|         2029-09-30|  9|
|           6.0|   Aquamarine|      Medium|            Wood|Quisque porta vol...|           3.2|             10|        Quinu|   Bird Cage|            Cage|         98.4|              49|          2011-05-28|         2024-05-05| 10|
|           4.1|         Pink|       Small|         Granite|Nulla ut erat id ...|           1.6|            631| Dazzlesphere|   Bird Cage|             Toy|        51.29|              96|          2022-03-03|         2025-12-08| 11|
|          20.0|       Violet|       Large|         Granite|Cras mi pede, mal...|           3.4|            791|        Aibox|   Bird Cage|            Cage|          3.8|              29|          2013-02-04|         2029-02-12| 12|
|          18.4|       Purple|      Medium|          Rubber|Cras mi pede, mal...|           1.5|            631|   Brainverse|   Bird Cage|            Food|         6.56|              96|          2011-02-17|         2030-12-27| 13|
|          37.5|         Mauv|       Small|           Stone|Mauris enim leo, ...|           3.2|            502|      Youspan|   Bird Cage|             Toy|        20.44|               1|          2020-05-25|         2029-09-22| 14|
|          32.1|       Orange|       Large|           Brass|In hac habitasse ...|           4.9|            937|     Livefish|   Bird Cage|            Cage|        42.64|              38|          2013-05-17|         2030-02-19| 15|
|          11.8|      Crimson|       Large|           Glass|Integer ac leo. P...|           2.3|            574|        Vidoo|   Bird Cage|             Toy|        99.49|              81|          2011-06-21|         2023-02-25| 16|
|          20.7|   Aquamarine|       Small|           Brass|Mauris enim leo, ...|           2.9|            436|      Kwimbee|   Bird Cage|            Cage|        84.59|              67|          2019-07-08|         2026-10-25| 17|
|          42.4|      Crimson|       Large|           Glass|Nulla ut erat id ...|           2.1|            157|         Omba|   Bird Cage|            Cage|         65.0|              77|          2018-05-19|         2025-07-23| 18|
|          19.3|       Violet|       Large|           Vinyl|Suspendisse poten...|           1.6|            180|       Skibox|   Bird Cage|            Cage|        43.48|              58|          2018-11-25|         2029-06-14| 19|
|          30.3|          Red|       Large|        Aluminum|Suspendisse poten...|           3.1|             29|      Nlounge|   Bird Cage|            Cage|        97.61|               9|          2015-07-25|         2025-01-01| 20|
+--------------+-------------+------------+----------------+--------------------+--------------+---------------+-------------+------------+----------------+-------------+----------------+--------------------+-------------------+---+
only showing top 20 rows

In [10]:
sale = data.select(
    'sale_quantity',
    'sale_total_price',
    'sale_date',
    'sale_customer_id',
    'sale_seller_id',
    'sale_product_id',
).distinct()

sale = sale.withColumn("sale_total_price", regexp_replace("sale_total_price", "\\$", "").cast("double"))
data = data.withColumn("sale_total_price", regexp_replace("sale_total_price", "\\$", "").cast("double"))

window = Window.orderBy('sale_date')
sale = sale.withColumn("id", row_number().over(window))
sale.show()

+-------------+----------------+----------+----------------+--------------+---------------+---+
|sale_quantity|sale_total_price| sale_date|sale_customer_id|sale_seller_id|sale_product_id| id|
+-------------+----------------+----------+----------------+--------------+---------------+---+
|            3|          482.62|2021-01-01|             274|           274|            274|  1|
|            9|          251.54|2021-01-01|             696|           696|            696|  2|
|            7|          132.83|2021-01-01|             679|           679|            679|  3|
|            9|          402.83|2021-01-01|             513|           513|            513|  4|
|            6|          160.78|2021-01-01|             603|           603|            603|  5|
|            5|           79.85|2021-01-01|             635|           635|            635|  6|
|            9|          241.93|2021-01-01|             205|           205|            205|  7|
|            5|          488.38|2021-01-01|             727|           727|            727|  8|
|            5|           21.12|2021-01-01|             985|           985|            985|  9|
|            1|            17.5|2021-01-01|             125|           125|            125| 10|
|            9|          251.06|2021-01-01|             433|           433|            433| 11|
|            7|           39.65|2021-01-01|             104|           104|            104| 12|
|            6|          209.33|2021-01-01|             413|           413|            413| 13|
|            5|           65.36|2021-01-01|             634|           634|            634| 14|
|            2|          442.01|2021-01-01|             243|           243|            243| 15|
|            5|          294.56|2021-01-01|             109|           109|            109| 16|
|           10|           53.71|2021-01-01|             130|           130|            130| 17|
|            4|           42.95|2021-01-01|             671|           671|            671| 18|
|            7|          239.36|2021-01-01|             255|           255|            255| 19|
|            8|          294.53|2021-01-01|              55|            55|             55| 20|
+-------------+----------------+----------+----------------+--------------+---------------+---+
only showing top 20 rows

In [11]:
supplier = data.select(
    'supplier_name',
    'supplier_contact',
    'supplier_email',
    'supplier_phone',
    'supplier_address',
    'supplier_city',
    'supplier_country'
).distinct()

window = Window.orderBy('supplier_name')
supplier = supplier.withColumn("id", row_number().over(window))
supplier.show()

+-------------+------------------+--------------------+--------------+----------------+--------------+----------------+---+
|supplier_name|  supplier_contact|      supplier_email|supplier_phone|supplier_address| supplier_city|supplier_country| id|
+-------------+------------------+--------------------+--------------+----------------+--------------+----------------+---+
|        Abata|      Zed Maxweell|zmaxweellk1@stumb...|  973-673-7617|    PO Box 40605|     Hai Riêng|         Ukraine|  1|
|        Abata|   Farris Blanking|fblankingd8@googl...|  530-854-6864|        Suite 51|       Jindong|         Armenia|  2|
|        Abata|       Ryan Vorley|   rvorleycj@bbb.org|  532-682-8788|        Room 921|   Solidaridad|          Poland|  3|
|        Abata|     Vaughan Mogra|vmograf9@moonfrui...|  188-774-8493|         Apt 646|    Notre Dame|  Czech Republic|  4|
|        Abata|       Rex Wilshaw|   rwilshaw6w@ed.gov|  252-226-8879|        Suite 80|        Nianba|    Saudi Arabia|  5|
|        Abata|      Lexie Whyard|   lwhyardm7@icio.us|  854-916-8983|        Room 208|Biritiba Mirim|         Ukraine|  6|
|        Abata|     Katinka Dixie|kdixie75@sitemete...|  233-648-4417|     PO Box 2160|        London|           Nepal|  7|
|        Abata|Branden Beverstock|bbeverstockpe@wea...|  719-212-1871|    PO Box 60865|      Xidianzi|          Poland|  8|
|        Abata|   Estel Lindeberg|elindebergb0@dago...|  628-923-3504|        Apt 1124|       Pingyin|           China|  9|
|        Abata|    Jeanelle Riley|   jrileydd@blog.com|  848-509-2146|       3rd Floor|     Citeureup|          Poland| 10|
|        Abata|      Ogden Neaves|oneaves17@amazon....|  624-102-9619|      18th Floor|        Avelar|          Brazil| 11|
|        Abata|     Isacco Rojahn| irojahn6d@yahoo.com|  880-214-2355|        Suite 94|        Yuwang|        Colombia| 12|
|        Abata|Nickolai Scurfield|nscurfieldg3@yale...|  307-965-4057|      12th Floor|    Tembilahan|           China| 13|
|        Abata|       Max Manilow|mmanilow6r@nymag.com|  757-707-9092|       2nd Floor|  Newport News|          Brazil| 14|
|        Abata|       Ev Slocombe|eslocombef8@bbc.c...|  417-902-6011|        Suite 87|        Izlake|  Cayman Islands| 15|
|        Abata|     Zorina Orable|  zorable6y@etsy.com|  238-504-3947|       4th Floor|          Chor|    South Africa| 16|
|        Abata|       Clint Bovey|  cbovey67@wufoo.com|  566-551-4781|         Apt 932|       Qesarya|     Netherlands| 17|
|        Abata|   Micki McKinless|mmckinlessg@brave...|  495-165-9749|         Apt 282|       Cikiruh|    South Africa| 18|
|        Abata|    Doreen Pimlott|dpimlott3c@ycombi...|  166-129-1393|        Suite 56|       Timóteo|      Kazakhstan| 19|
|        Abata|       Jamal Larby|    jlarbyiv@msn.com|  158-561-9156|         Suite 4|        Danané|          Russia| 20|
+-------------+------------------+--------------------+--------------+----------------+--------------+----------------+---+
only showing top 20 rows

In [12]:
fact = data.join(customer,
    on=[
        data.customer_pet_type == customer.customer_pet_type,
        data.customer_pet_name == customer.customer_pet_name,
        data.customer_pet_breed == customer.customer_pet_breed,
        data.customer_country == customer.customer_country,
        data.customer_first_name == customer.customer_first_name,
        data.customer_last_name == customer.customer_last_name,
        data.customer_age == customer.customer_age,
        data.customer_email == customer.customer_email
    ],
).join(seller,
      on = [
        data.seller_first_name == seller.seller_first_name,
        data.seller_last_name == seller.seller_last_name,
        data.seller_country == seller.seller_country,
        data.seller_email == seller.seller_email
      ],
).join(store,
      on = [
        data.store_location == store.store_location,
        data.store_city == store.store_city,
        data.store_country == store.store_country,
        data.store_phone == store.store_phone,
        data.store_email == store.store_email,
        data.store_name == store.store_name
      ],
).join(product,
      on = [
        data.product_weight == product.product_weight,
        data.product_color == product.product_color,
        data.product_size == product.product_size,
        data.product_material == product.product_material,
        data.product_description == product.product_description,
        data.product_rating == product.product_rating,
        data.product_reviews == product.product_reviews,
        data.product_brand == product.product_brand,
        data.product_name == product.product_name,
        data.product_category == product.product_category,
        data.product_quantity == product.product_quantity,
        data.product_release_date == product.product_release_date,
        data.product_reviews == product.product_reviews,
        data.product_expiry_date == product.product_expiry_date,
      ],
).join(sale,
      on = [
        data.sale_quantity == sale.sale_quantity,
        data.sale_total_price == sale.sale_total_price,
        data.sale_date == sale.sale_date,
        data.sale_customer_id == sale.sale_customer_id,
        data.sale_seller_id == sale.sale_seller_id,
        data.sale_product_id == sale.sale_product_id
      ],
).join(supplier,
      on = [
        data.supplier_name == supplier.supplier_name,
        data.supplier_contact == supplier.supplier_contact,
        data.supplier_email == supplier.supplier_email,
        data.supplier_phone == supplier.supplier_phone,
        data.supplier_address == supplier.supplier_address,
        data.supplier_city == supplier.supplier_city,
        data.supplier_country == supplier.supplier_country 
      ],
).select(
    data['id'],
    customer['id'].alias('customer_id'),
    seller['id'].alias('seller_id'),
    store['id'].alias('store_id'),
    product['id'].alias('product_id'),
    sale['id'].alias('sale_id'),
    supplier['id'].alias('supplier_id')
)
fact.show()

+---+-----------+---------+--------+----------+-------+-----------+
| id|customer_id|seller_id|store_id|product_id|sale_id|supplier_id|
+---+-----------+---------+--------+----------+-------+-----------+
|204|       7517|     8236|    7077|      2006|   5796|       9822|
|696|       1317|     3239|    1262|      5664|   4576|       7285|
|850|       7914|     1104|    9782|      8439|    105|        361|
|968|        469|     8856|    6383|      4639|   7666|       5835|
|123|       1316|     2259|    7061|      8679|   4435|        239|
|545|       9503|     1245|    3327|      6774|    371|       7476|
|571|       3913|      687|    7219|      9095|   9331|       7613|
|345|       8092|     8307|    9170|      9319|    759|       7896|
|524|       7219|     6986|     704|       926|   3051|       4641|
|883|       5537|     5276|    6206|      7463|   4338|       6929|
|987|       9832|     4235|    9418|      5335|   7577|       6894|
|204|       9062|     4555|    9605|      9902|   7914|       3923|
|296|       9988|     1644|    6104|      5351|   9953|       7068|
|338|       6631|     2712|    9176|      7813|   6877|       9572|
|381|       1224|      888|    3507|      3035|   5666|         96|
|672|       6445|     9573|    7927|      2479|   6921|       3406|
| 44|       1408|     1020|    5574|      7352|   7185|       6283|
|146|       6102|     3059|    1343|      3320|   4159|       1515|
|152|       6766|     2053|    8449|      4846|    908|       7636|
|311|        929|      606|    9214|      1748|   3118|       9332|
+---+-----------+---------+--------+----------+-------+-----------+
only showing top 20 rows

In [13]:
fact.count()

10000

In [14]:
customer.write.jdbc(url=jdbc_url, table="customer", mode="overwrite", properties=properties)
seller.write.jdbc(url=jdbc_url, table="seller", mode="overwrite", properties=properties)
store.write.jdbc(url=jdbc_url, table="store", mode="overwrite", properties=properties)
product.write.jdbc(url=jdbc_url, table="product", mode="overwrite", properties=properties)
sale.write.jdbc(url=jdbc_url, table="sale", mode="overwrite", properties=properties)
supplier.write.jdbc(url=jdbc_url, table="supplier", mode="overwrite", properties=properties)
fact.write.jdbc(url=jdbc_url, table="fact", mode="overwrite", properties=properties)

In [15]:
print(sale.schema)

StructType([StructField('sale_quantity', IntegerType(), True), StructField('sale_total_price', DoubleType(), True), StructField('sale_date', DateType(), True), StructField('sale_customer_id', IntegerType(), True), StructField('sale_seller_id', IntegerType(), True), StructField('sale_product_id', IntegerType(), True), StructField('id', IntegerType(), False)])

In [16]:
ch_jdbc_url = "jdbc:clickhouse://clickhouse:8123/default"
properties = {
    "driver": "com.clickhouse.jdbc.ClickHouseDriver",
    "user": "custom_user",
    "password": "custom_password"
}

In [17]:

def write_to_clickhouse(df, table_name):
    df.write.jdbc(url=ch_jdbc_url, table=table_name, mode="overwrite", properties=properties)

In [18]:
top_10_products = sale.join(product, on = [sale.sale_product_id == product.id]).groupBy("sale_product_id", "product_name").agg(count("sale_product_id").alias("sale_num")).orderBy(desc("sale_num")).limit(10)
top_10_products.show()
properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY sale_product_id"
write_to_clickhouse(top_10_products, 'sale_num')

+---------------+------------+--------+
|sale_product_id|product_name|sale_num|
+---------------+------------+--------+
|              1|   Bird Cage|      10|
|              2|   Bird Cage|      10|
|              3|   Bird Cage|      10|
|              4|   Bird Cage|      10|
|              5|   Bird Cage|      10|
|              6|   Bird Cage|      10|
|              7|   Bird Cage|      10|
|              8|   Bird Cage|      10|
|              9|   Bird Cage|      10|
|             10|   Bird Cage|      10|
+---------------+------------+--------+

In [19]:
top_customers = sale.join(customer, sale.sale_customer_id == customer.id) \
    .groupBy("sale_customer_id", "customer_first_name", "customer_last_name", "customer_country") \
    .agg(sum("sale_total_price").alias("total_spent")) \
    .orderBy(desc("total_spent")) \
    .limit(10)

top_customers.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY total_spent"
write_to_clickhouse(top_customers, 'top_customers')

+----------------+-------------------+------------------+----------------+------------------+
|sale_customer_id|customer_first_name|customer_last_name|customer_country|       total_spent|
+----------------+-------------------+------------------+----------------+------------------+
|             611|             Ariela|            Pynner|          Canada|           4005.98|
|             779|            Austine|            Florez|       Indonesia|           3784.44|
|             434|              Andie|              Royl|           China|           3751.09|
|             269|              Alida|           D'Adamo|   United States|3682.5200000000004|
|             795|               Avis|        Drinkwater|          Russia|           3645.94|
|              84|             Adella|              Wyse|       Indonesia|           3616.93|
|              74|           Adelbert|          Mouncher|           China|            3571.1|
|             767|              Aurie|           Mantrip|         Jamaica|3548.8599999999997|
|             406|               Amos|           Dempsey|          Russia|           3546.42|
|             997|           Benjamen|          Verrillo|      Kazakhstan|           3537.04|
+----------------+-------------------+------------------+----------------+------------------+

In [20]:
customer_distribution = customer.groupBy("customer_country") \
    .agg(count("*").alias("customer_count")) \
    .orderBy(desc("customer_count"))

customer_distribution.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY customer_count"
write_to_clickhouse(customer_distribution, 'customer_distribution')

+----------------+--------------+
|customer_country|customer_count|
+----------------+--------------+
|           China|          1738|
|       Indonesia|          1174|
|          Russia|           628|
|     Philippines|           555|
|          Brazil|           385|
|        Portugal|           336|
|          Poland|           332|
|          France|           322|
|          Sweden|           264|
|   United States|           211|
|           Japan|           201|
|         Ukraine|           155|
|        Colombia|           152|
|  Czech Republic|           140|
|          Canada|           137|
|        Thailand|           126|
|            Peru|           123|
|          Greece|           116|
|       Argentina|           113|
|         Nigeria|           103|
+----------------+--------------+
only showing top 20 rows

In [21]:
avg_purchase = sale.join(customer, sale.sale_customer_id == customer.id) \
    .groupBy("sale_customer_id", "customer_first_name", "customer_last_name") \
    .agg(avg("sale_total_price").alias("avg_purchase_amount")) \
    .orderBy(desc("avg_purchase_amount"))

avg_purchase.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY avg_purchase_amount"
write_to_clickhouse(avg_purchase, 'customer_avg_purchase')

+----------------+-------------------+------------------+-------------------+
|sale_customer_id|customer_first_name|customer_last_name|avg_purchase_amount|
+----------------+-------------------+------------------+-------------------+
|             611|             Ariela|            Pynner|            400.598|
|             779|            Austine|            Florez|            378.444|
|             434|              Andie|              Royl| 375.10900000000004|
|             269|              Alida|           D'Adamo| 368.25200000000007|
|             795|               Avis|        Drinkwater|            364.594|
|              84|             Adella|              Wyse|            361.693|
|              74|           Adelbert|          Mouncher|             357.11|
|             767|              Aurie|           Mantrip| 354.88599999999997|
|             406|               Amos|           Dempsey|            354.642|
|             997|           Benjamen|          Verrillo|            353.704|
|             244|                Alf|       Gilffilland|            352.812|
|             384|                Ame|          Sharvill|             347.89|
|             876|              Baron|           Riddock| 347.39699999999993|
|             251|            Alfredo|          Kerridge|            345.329|
|             887|             Barron|             Gibby|            344.315|
|             606|               Arie|          Larcombe| 344.13599999999997|
|             376|              Amber|           Mullins|              342.4|
|             765|              Aurie|          Moraleda| 341.84900000000005|
|             431|           Anderson|             Gabel| 340.66700000000003|
|             844|           Barbabra|          Abbatini|            339.765|
+----------------+-------------------+------------------+-------------------+
only showing top 20 rows

In [22]:
sales_trends = sale.withColumn("year", year("sale_date")) \
    .withColumn("month", month("sale_date")) \
    .groupBy("year", "month") \
    .agg(
        sum("sale_total_price").alias("total_revenue"),
        count("*").alias("sales_count"),
        avg("sale_total_price").alias("avg_order_size")
    ) \
    .orderBy("year", "month")

sales_trends.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY (year, month)"
write_to_clickhouse(sales_trends, 'sales_trends')

+----+-----+------------------+-----------+------------------+
|year|month|     total_revenue|sales_count|    avg_order_size|
+----+-----+------------------+-----------+------------------+
|2021|    1|224158.53999999998|        874|256.47430205949655|
|2021|    2|192348.31000000008|        739| 260.2818809201625|
|2021|    3|207282.19999999995|        843| 245.8863582443653|
|2021|    4|206592.81999999992|        837|246.82535244922332|
|2021|    5| 211764.8599999999|        828|255.75466183574866|
|2021|    6| 215042.7999999999|        822|261.60924574209236|
|2021|    7|220496.51000000024|        858| 256.9889393939397|
|2021|    8|221275.78000000003|        897|246.68425863991084|
|2021|    9|210623.42999999996|        839|251.04103694874846|
|2021|   10|228743.31999999992|        892| 256.4386995515694|
|2021|   11|         200154.69|        801|249.88101123595507|
|2021|   12|191368.86000000016|        770|248.53098701298723|
+----+-----+------------------+-----------+------------------+

In [23]:
monthly_comparison = sale.withColumn("year", year("sale_date")) \
    .withColumn("month", month("sale_date")) \
    .groupBy("year", "month") \
    .agg(
        sum("sale_total_price").alias("monthly_revenue"),
        count("*").alias("sales_count")
    ) \
    .orderBy("year", "month")

window = Window.orderBy("year", "month")

monthly_comparison = monthly_comparison.withColumn(
    "prev_month_revenue",
    lag("monthly_revenue").over(window)
)

monthly_comparison = monthly_comparison.withColumn(
    "mom_growth",
    when(col("prev_month_revenue").isNull(), None)
    .when(col("prev_month_revenue") == 0, None)
    .otherwise((col("monthly_revenue") - col("prev_month_revenue")) / col("prev_month_revenue") * 100)
)

monthly_comparison = monthly_comparison.withColumn(
    "prev_month_revenue",
    coalesce(col("prev_month_revenue"), lit(0.0))
)

monthly_comparison = monthly_comparison.withColumn(
    "mom_growth",
    coalesce(col("mom_growth"), lit(0.0))
)

monthly_comparison.show()

write_to_clickhouse(monthly_comparison, 'monthly_revenue_comparison')

+----+-----+------------------+-----------+------------------+-------------------+
|year|month|   monthly_revenue|sales_count|prev_month_revenue|         mom_growth|
+----+-----+------------------+-----------+------------------+-------------------+
|2021|    1|224158.53999999998|        874|               0.0|                0.0|
|2021|    2|192348.31000000008|        739|224158.53999999998| -14.19095163628381|
|2021|    3|207282.19999999995|        843|192348.31000000008| 7.7639829536323255|
|2021|    4|206592.81999999992|        837|207282.19999999995|-0.3325804145266858|
|2021|    5| 211764.8599999999|        828|206592.81999999992| 2.5034945551350627|
|2021|    6| 215042.7999999999|        822| 211764.8599999999| 1.5479149845729854|
|2021|    7|220496.51000000024|        858| 215042.7999999999|  2.536104440604542|
|2021|    8|221275.78000000003|        897|220496.51000000024| 0.3534160245891352|
|2021|    9|210623.42999999996|        839|221275.78000000003| -4.814060535680888|
|2021|   10|228743.31999999992|        892|210623.42999999996|    8.6029792601896|
|2021|   11|         200154.69|        801|228743.31999999992|-12.498126721252419|
|2021|   12|191368.86000000016|        770|         200154.69| -4.389519925813301|
+----+-----+------------------+-----------+------------------+-------------------+

In [24]:
top_stores = sale.join(store, sale.sale_seller_id == store.id) \
    .groupBy("sale_seller_id", "store_name", "store_country", "store_city") \
    .agg(sum("sale_total_price").alias("total_revenue")) \
    .orderBy(desc("total_revenue")) \
    .limit(5)

top_stores.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY total_revenue"
write_to_clickhouse(top_stores, 'top_stores')

+--------------+-----------+-------------+----------------+------------------+
|sale_seller_id| store_name|store_country|      store_city|     total_revenue|
+--------------+-----------+-------------+----------------+------------------+
|           611|   Blogtags|       Russia|            Turt|           4005.98|
|           779| Brightbean|       France|         An Châu|           3784.44|
|           434|Babblestorm|United States|        Phú Vang|           3751.09|
|           269|      Avamm|    Argentina|Alcaria da Serra|3682.5200000000004|
|           795|  Brightdog|       Russia|        Were Īlu|           3645.94|
+--------------+-----------+-------------+----------------+------------------+

In [25]:
top_suppliers = fact.join(sale, sale.id == fact.sale_id, how = 'outer') \
    .join(supplier, fact.supplier_id == supplier.id, how = 'outer') \
    .join(product, fact.product_id == product.id, how = 'outer') \
    .groupBy("supplier_id", "supplier_name", "supplier_country") \
    .agg(
        sum("sale_total_price").alias("total_revenue"),
        avg("product_price").alias("avg_product_price")
    ) \
    .orderBy(desc("total_revenue")) \
    .limit(5)

top_suppliers.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY total_revenue"
write_to_clickhouse(top_suppliers, 'top_suppliers')

+-----------+-------------+----------------+-------------+-----------------+
|supplier_id|supplier_name|supplier_country|total_revenue|avg_product_price|
+-----------+-------------+----------------+-------------+-----------------+
|        718|   Brainverse|         Ireland|       499.85|            31.42|
|       3431|        Jamia|          Russia|        499.8|             6.64|
|       1514|      Demimbu|           China|       499.76|             53.8|
|       1943|        Eabox|        Portugal|       499.76|            80.91|
|        905|   Browsezoom|       Argentina|       499.73|            58.24|
+-----------+-------------+----------------+-------------+-----------------+

In [26]:
avg_price_per_supplier = data.groupBy("supplier_name") \
    .agg(avg("product_price").alias("avg_product_price")) \
    .orderBy("avg_product_price", ascending=False)

avg_price_per_supplier.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY avg_product_price "
write_to_clickhouse(avg_price_per_supplier, 'avg_price_per_supplier')

+-------------+------------------+
|supplier_name| avg_product_price|
+-------------+------------------+
|        Aivee| 73.12043478260871|
|      Gabtune| 68.60214285714287|
|   Realbridge| 68.10181818181816|
|      Camimbo| 67.26842105263157|
|    Topiczoom| 64.39370370370371|
|       Avavee| 64.14625000000001|
|         Yodo| 63.62319999999999|
|       Quamba| 63.48190476190476|
|        Kamba|           62.7492|
|       Devify|            61.545|
|      Gabcube| 61.31173913043477|
|       Tagcat| 61.05761904761905|
|   Bubbletube| 61.05650000000001|
|     Brainbox| 60.97304347826086|
|       Roodel|60.879000000000005|
|     Snaptags| 60.62347826086956|
|     Flipopia| 60.54896551724139|
|      Tagchat|60.120000000000005|
|     Realbuzz| 60.03695652173913|
|      Zoonder|59.999166666666675|
+-------------+------------------+
only showing top 20 rows

In [27]:
supplier_distribution = sale.join(fact, sale.id == fact.sale_id) \
    .join(supplier, fact.supplier_id == supplier.id) \
    .groupBy("supplier_country") \
    .agg(sum("sale_total_price").alias("total_revenue")) \
    .orderBy(desc("total_revenue"))

supplier_distribution.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY total_revenue "
write_to_clickhouse(supplier_distribution, 'supplier_distribution')

+----------------+------------------+
|supplier_country|     total_revenue|
+----------------+------------------+
|           China|492823.30999999994|
|       Indonesia|265717.99000000005|
|          Russia|         149206.75|
|     Philippines|136135.09999999998|
|          Brazil| 97546.81999999998|
|          Poland| 87370.63999999998|
|        Portugal| 83210.59999999999|
|          France| 80432.46000000002|
|   United States|          52560.14|
|          Sweden|52074.939999999995|
|  Czech Republic|          45258.81|
|         Ukraine|42858.170000000006|
|        Thailand|          42409.05|
|           Japan|42075.850000000006|
|        Colombia| 39525.61000000001|
|            Peru|          37351.86|
|       Argentina|          35606.32|
|          Greece| 33146.62000000001|
|          Canada|30290.579999999994|
|         Nigeria|          24725.21|
+----------------+------------------+
only showing top 20 rows

In [28]:
store_distribution = sale.join(store, sale.sale_seller_id == store.id) \
    .groupBy("store_country", "store_city") \
    .agg(sum("sale_total_price").alias("total_revenue")) \
    .orderBy(desc("total_revenue"))

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY total_revenue "
write_to_clickhouse(store_distribution, 'store_distribution')

In [29]:
product_ratings = product.select(
    "id", 
    "product_name", 
    "product_category", 
    "product_rating", 
    "product_reviews"
).orderBy(desc("product_rating"))

product_ratings.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY product_rating"
write_to_clickhouse(product_ratings.limit(10), 'top_rated_products')
write_to_clickhouse(product_ratings.orderBy(asc("product_rating")).limit(10), 'lowest_rated_products')

+----+------------+----------------+--------------+---------------+
|  id|product_name|product_category|product_rating|product_reviews|
+----+------------+----------------+--------------+---------------+
| 952|   Bird Cage|             Toy|           5.0|            845|
|2385|   Bird Cage|             Toy|           5.0|            199|
|1016|   Bird Cage|            Food|           5.0|            454|
|  49|   Bird Cage|            Cage|           5.0|            227|
|1184|   Bird Cage|            Cage|           5.0|              6|
| 394|   Bird Cage|            Food|           5.0|            882|
|1379|   Bird Cage|            Cage|           5.0|            953|
| 808|   Bird Cage|             Toy|           5.0|            559|
|1422|   Bird Cage|            Cage|           5.0|            620|
|1763|   Bird Cage|            Food|           5.0|            298|
|1784|   Bird Cage|            Food|           5.0|            727|
|  91|   Bird Cage|            Food|           5.0|            369|
|1828|   Bird Cage|            Food|           5.0|            552|
| 737|   Bird Cage|             Toy|           5.0|            678|
|1864|   Bird Cage|             Toy|           5.0|             12|
|1439|   Bird Cage|            Cage|           5.0|            924|
|1907|   Bird Cage|             Toy|           5.0|            537|
|1597|   Bird Cage|            Cage|           5.0|            524|
|2004|   Bird Cage|            Food|           5.0|            410|
|1702|   Bird Cage|            Cage|           5.0|            276|
+----+------------+----------------+--------------+---------------+
only showing top 20 rows

In [30]:
rating_sales_correlation = sale.join(product, sale.sale_product_id == product.id) \
    .groupBy("sale_product_id", "product_name", "product_rating") \
    .agg(
        count("*").alias("sales_count"),
        sum("sale_total_price").alias("total_revenue")
    ) \
    .orderBy("product_rating")

rating_sales_correlation.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY product_rating"
write_to_clickhouse(rating_sales_correlation, 'rating_sales_correlation')

+---------------+------------+--------------+-----------+------------------+
|sale_product_id|product_name|product_rating|sales_count|     total_revenue|
+---------------+------------+--------------+-----------+------------------+
|             50|   Bird Cage|           1.0|         10|2816.6900000000005|
|            128|   Bird Cage|           1.0|         10|           1711.44|
|            278|   Bird Cage|           1.0|         10|           2398.61|
|            305|   Bird Cage|           1.0|         10|2667.6400000000003|
|            371|   Bird Cage|           1.0|         10|           2845.23|
|            505|   Bird Cage|           1.0|         10|2618.2099999999996|
|            548|   Bird Cage|           1.0|         10|2726.7099999999996|
|            791|   Bird Cage|           1.0|         10|2489.5299999999997|
|            818|   Bird Cage|           1.0|         10|2009.0600000000002|
|            823|   Bird Cage|           1.0|         10|2545.1299999999997|
|            219|   Bird Cage|           1.1|         10|1181.3999999999999|
|            558|   Bird Cage|           1.1|         10|           2319.55|
|            560|   Bird Cage|           1.1|         10|           2113.17|
|            937|   Bird Cage|           1.1|         10|2537.0299999999997|
|            644|   Bird Cage|           1.1|         10|           3065.05|
|            471|   Bird Cage|           1.1|         10|           2538.04|
|            259|   Bird Cage|           1.1|         10|           2225.03|
|            500|   Bird Cage|           1.1|         10|2598.7400000000002|
|            809|   Bird Cage|           1.1|         10|           2068.42|
|            514|   Bird Cage|           1.1|         10|2936.9799999999996|
+---------------+------------+--------------+-----------+------------------+
only showing top 20 rows

In [31]:
most_reviewed = product.select(
    "id", 
    "product_name", 
    "product_category", 
    "product_reviews"
).orderBy(desc("product_reviews")) \
.limit(10)

most_reviewed.show()

properties["createTableOptions"] = "ENGINE = MergeTree() ORDER BY product_reviews"
write_to_clickhouse(most_reviewed, 'most_reviewed_products')

+----+------------+----------------+---------------+
|  id|product_name|product_category|product_reviews|
+----+------------+----------------+---------------+
| 659|   Bird Cage|             Toy|           1000|
| 182|   Bird Cage|            Food|           1000|
| 876|   Bird Cage|            Food|           1000|
|4844|     Cat Toy|             Toy|           1000|
|3192|   Bird Cage|             Toy|           1000|
|4455|     Cat Toy|             Toy|           1000|
|4964|     Cat Toy|            Food|           1000|
|6553|     Cat Toy|            Cage|           1000|
|7211|    Dog Food|            Food|           1000|
|8386|    Dog Food|            Food|           1000|
+----+------------+----------------+---------------+

In [33]:
# Останавливаем SparkSession
spark.stop()